<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<br>

<my-first-component></my-first-component>
<br>

<app-my-first-2></app-my-first-2>
<br>

<app-courses></app-courses>
<br>

<app-data-binding></app-data-binding>
<br>

<ciclo [valorInicial]="valor" *ngIf="!deletarCiclo" ></ciclo>
<button (click)="mudarValor()">Mudar Valor</button>
<button (click)="destruirCiclo()">Deletar</button>
<br><br><br>
<app-diretiva-ngif></app-diretiva-ngif>
<br><br><br>