<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<br>

<my-first-component></my-first-component>
<br>

<app-my-first-2></app-my-first-2>
<br>

<app-courses></app-courses>
<br>

<app-data-binding></app-data-binding>
<br>

<ciclo [valorInicial]="valor" *ngIf="!deletarCiclo" ></ciclo>
<button (click)="mudarValor()">Mudar Valor</button>
<button (click)="destruirCiclo()">Deletar</button>
<br><br><br>
<app-diretiva-ngif></app-diretiva-ngif>

<app-diretiva-ngswitch></app-diretiva-ngswitch>

<app-diretiva-ngfor></app-diretiva-ngfor>

<app-diretiva-ngclass></app-diretiva-ngclass> 

<app-diretiva-ngstyle></app-diretiva-ngstyle>

<app-operador-elvis></app-operador-elvis>

<app-exemplo-ng-content>
  Conteúdo Passado para o Componente
  <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content>

<app-exemplo-ng-content>
  <div class="titulo">Título do Painle</div>
  <div class="corpo">
    Conteúdo Passado para o Componente
  </div>
  <div class="corpo">
      Conteúdo Passado para o Componente
    </div>
</app-exemplo-ng-content>

<app-diretivas-customizadas></app-diretivas-customizadas> -->

<app-courses2></app-courses2>
